.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background-color: var(--background);
}

.body {
  display: flex;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.canvasWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  position: relative;

  &.mobileOffset {
    padding-bottom: 3.75rem;
  }
}
