* {
  scrollbar-width: thin;
  scrollbar-color: oklch(1 0 0 / 10%) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: oklch(1 0 0 / 10%);
  border-radius: 99px;
}

*::-webkit-scrollbar-thumb:hover {
  background: oklch(1 0 0 / 18%);
}
